* {
  box-sizing: border-box;
}

:root {
  --dial-arm-width: 6px;
}

body {
  margin: 0;
  padding: 0;
  background: black;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.container {
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 500px;
}

.block {
  background: linear-gradient(orange 10%, aqua);
  width: 50px;
  height: 50px;
  box-shadow: 0 0 15px 5px rgba(0, 0, 0, 0.5);
  opacity: 0;
}

.dial {
  position: absolute;
  top: 50px;
}

.dial-ring {
  position: absolute;
  width: 100px;
  height: 100px;
  left: calc(var(--dial-arm-width) / 2 - 50px);
  border-radius: 50%;
  border: 1px solid aqua;
}

.dial-arm {
  position: absolute;
  height: 50px;
  width: var(--dial-arm-width);
  transform-origin: calc(var(--dial-arm-width) / 2) 100%;
  background: orange;
  border: 1px solid aqua;
  border-bottom-right-radius: calc(var(--dial-arm-width) / 2);
  border-bottom-left-radius: calc(var(--dial-arm-width) / 2);
}

.fade-in {
  animation: fadeInAnimation ease-in 0.25s;
  animation-iteration-count: 1; 
  animation-fill-mode: forwards; 
}

@keyframes fadeInAnimation { 
  0% { 
    opacity: 0; 
  } 
  100% { 
    opacity: 1; 
  } 
} 